/* COMMON */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h4:hover {
    /* 헤더 메뉴에서 .mega-menu .inner-mega-menu > p > h4:hover를 하니까 반영이 안됐습니다..
    그래서 위로 빼서 h4만 단독으로 처리했더니 되었습니다. h4를 다시 안쓰겠다는 각오로 약간의
    편법(?)을 사용해봤습니다(´。＿。｀)*/
    text-decoration: underline;
}

.material-icons-outlined {
    font-weight: normal;
    font-style: normal;

    display: inline-block;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.material-icons {
    font-weight: normal;
    font-style: normal;
    
    display: inline-block;
    color: black;
    font-size: 15px;
    cursor: pointer;
}

/* HEADER-VISIBLE */
header {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-color: yellowgreen;
    border-bottom: 1px solid gray;
}

header .inner {
    width: 1080px;
    height: 80px;
    padding: 0 20px;
    margin: 0 auto;
    background: violet;
    display: flex;
}

header .inner .main_gnb {
    flex: 1;
    text-align: right;
}

header .inner .main_gnb > ul {
    float: right;
}

header .inner .main_gnb > ul > li {
    float: left;
}

header .inner .main_gnb > ul > li > a {
    padding: 15px;
    display: inline-block;
    margin-top: 12px;
}


header .inner .main_gnb > ul > li > a:hover {
    text-decoration: underline;    
    height: 35px;
    border-bottom: 2px solid gray;
}

header .inner .main_gnb > ul > li:last-child > a {
    background: #fede22;
    height: 20px;
    border-radius: 22px;
    text-decoration: none;
    border-bottom: none;
}

/* HEADER-MEGA MENU */

/* 다시 보이게 하는 부분 */
.nav-item:hover .mega-menu{
    visibility: visible;
    opacity: 1;
}

.mega-menu {
    position: absolute;
    text-align: center;
    top: 80px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: blueviolet;
    transition: all 0.4s ease;
    padding: 20px;
    box-sizing: border-box;
    /* 메가메뉴 등장 효과 부분!!중요함!! */
    visibility: hidden;
    opacity: 0;
}

.mega-menu .inner-mega-menu {
    width: 20%;
    float: left;
}

.mega-menu .inner-mega-menu > p {
    padding: 10px 0;
    transition: all 0.4s ease;
}

.mega-menu .inner-mega-menu > p > a:hover {
    text-decoration: underline;
}

/* INTRO SECTION */
main {
    height: 880px;
    width: 100%;
    position: relative;
    background-color: white;
}

main .intro_background {
    position: relative;
    height: 720px;
    width: 100%;
    margin-bottom: 160px;
    background-color: yellow;
}

main .intro_wrapper {
    position: relative;
    height: 880px;
    width: 1200px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    background-image:url(https://www.kakaobank.com/static/images/web/renewal/main-bg2.png);
    background-size: contain;
    background-position: center;
    margin: 0 auto;
}

main .intro_background .intro_wrapper .intro_title {
    position: absolute;
    top: 215px;
    width: 100%;
    margin-left: 90px;
    font-size: 45px;
}

main .intro_background .intro_wrapper .intro_sub {
    position: absolute;
    top: 360px;
    width: 100%;
    margin-left: 90px;
    font-size: 20px;
}

main .intro_background .intro_wrapper .intro_btnList {
    position: relative;
    top: 430px;
    margin-left: 90px;
    height: 33px;
}

main .intro_background .intro_wrapper .intro_btnList > li{
    margin-right: 10px;
    
    display: inline-block;
    
    text-align: center;
    padding: 15px 0px;

    font-size: 12px;
}

.intro_btnList > li > button {
    border: none;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    border-radius: none;
}

.imgGoogle {
    display: inline-block;
    padding-left: 30px;
    background-image: url(/CLONECODING/images/playStore.png);

    background-repeat: no-repeat;
    background-size: 21px 21px;
}

.imgApple {
    display: inline-block;
    padding-left: 30px;

    background-image: url(/CLONECODING/images/appStore.png);

    background-repeat: no-repeat;
    background-size: 21px 21px;
}

/* 색션 클래스명 설명(비슷한 부분은 한가지의 클래스로 구현하고자 했습니다)

section: 왼쪽에 png가 있고 오른쪽에 글귀와 버튼이 있음
background: 1200*750의 너비를 가진 중앙 정렬을 위한 배경
sec_title: 오른쪽의 굵은 제목 글씨 | 
sec_sub: 제목 아래의 부가 설명
sec_btn: 부가설명 아래의 버튼 

*2가 붙은 클래스명은 왼쪽 오른쪽이 반대의 경우입니다.
*정리를 안하면 css에서 어떤 색션의 구조인지 확인이 쉽지만
코딩하는 입장에서는 같은걸 여러번 하다보니 정리가 필요할 것 같다고 생각했습니다:)
개인적인 입장이라서 맞는지는 모르겠습니다...
*/

/* SECTION1 ACCOUNT SECTION */
.section{
    height: 750px;
    width: 100%;
    position: relative;
    background-color: green;
}

.background {
    position: relative;
    
    margin: 0 auto;
    padding-top: 50px;
    height: 750px;
    width: 1200px;

    overflow: hidden;
    background-color: lightsalmon;
}

.section .background .wrapper1{
    position: relative;
    float: left;

    height: 680px;
    width: 480px;

    background-image: url(https://www.kakaobank.com/static/images/web/renewal/main-withdrawal.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.sec_title{
    position: relative;
    float: left;
    top: 200px;
    margin-left: 100px;
    font-size: 45px;
}

.sec_sub{
    position: relative;
    float: left;
    top: 240px;
    margin-left: 100px;
    font-size: 20px;
}

.sec_btn {
    position: relative;
    top: 280px;
    margin-left: 100px;
    
    border: none;
    background-color: gainsboro;
    border-radius: 20px;
    padding: 15px 20px;
    display: inline-block;
    font-size: 15px;
}

.sec_btn:hover {
    text-decoration: underline;
}

/* SECTION2 DEPOSIT&SAVING */
.section2 {
    position: relative;
    height: 750px;
    width: 100%;
    background-color: slateblue;
}

.section2 .sec2_background {
    position: relative;
    height: 100%;
    width: 1200px;
    background-color: blue;

    margin: 0 auto;
}

.sec2_background .sec2_wrapper {
    position: relative;
    float: right;

    height: 722px;
    width: 409px;

    background-image: url(https://www.kakaobank.com/static/images/web/renewal/main-savings.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.sec2_title {
    position: absolute;
    float: left;
    top: 150px;
    margin-left: 100px;
    font-size: 45px;
}

.sec2_sub{
    position: absolute;
    float: left;
    top: 300px;
    margin-left: 100px;
    font-size: 20px;
}

.sec2_btnList{
    position: relative;
    top: 400px;
    margin-left: 90px;
    height: 33px;
}

.sec2_btnList > li{
    margin-right: 10px;
    display: inline-block;
    
    text-align: center;
    padding: 15px 0px;

    font-size: 12px;
}

.sec2_btnList > li > button {
    border: none;
    width: 158px;
    height: 56px;
    border-radius: 10px;
    background-color: white;
    border-radius: none;
}

.section2 .sec2_background .sec2_underimg {
    position: relative;
    height: 104px;
    width: 440px;

    top: 500px;
    margin-left: 90px;

    background-image: url(https://www.kakaobank.com/static/images/web/renewal/main-savings-money.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* SECTION3 MEETING ACCOUNT SECTION */ 
.section .background .wrapper3{
    position: relative;
    float: left;

    height: 600px;
    width: 460px;

    background-image: url(https://www.kakaobank.com/static/images/web/renewal/main-moim.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* SECTION4 26WEEK SAVING SECTION */
.section4 {
    position: relative;
    height: 650px;
    width: 100%;
    background-color: slateblue;
}

.section4 .sec4_background {
    position: relative;
    height: 100%;
    width: 1200px;
    background-color: blue;

    margin: 0 auto;
}

.section4 .sec4_background .wrapper4{
    position: relative;
    float: right;

    top: 100px;
    height: 500px;
    width: 400px;

    background-image: url(https://www.kakaobank.com/static/images/web/renewal/main-26weeks.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.section4 .sec4_background .sec4_btn {
    position: relative;
    top: 380px;
    margin-left: 100px;
    
    width: 300px;
    border: none;
    background-color: gainsboro;
    border-radius: 20px;
    padding: 15px 20px;
    display: inline-block;
    font-size: 15px;
}

.section4 .sec4_background .sec4_btn:hover {
    text-decoration: underline;
}

/* SECTION5 OVERSEAS REMITTANCE SECTION */
.background5 {
    position: relative;
    
    margin: 0 auto;
    padding-top: 50px;
    height: 750px;
    width: 1200px;

    overflow: hidden;
    background-image: url(https://www.kakaobank.com/static/images/web/home_map.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.wrapper5 {
    position: relative;
    float: left;

    height: 715px;
    width: 400px;

    overflow: hidden;
    background-image: url(https://www.kakaobank.com/static/images/web/renewal/main-foreignRemittance.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* SECTION7 FRIENDS CHECK CARD */
.section7 {
    position: relative;
    height: 1062px;
    width: 100%;
    background-color: palevioletred;

    padding-top: 150px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.section7 > h3 {
    position: relative;
    /* top: 150px; */
    font-size: 45px;
}

.section7 > h1 {
    position: relative;
    margin-top: 24px;
    font-size: 20px;
}

.section7 .sec7_btn {
    position: relative;
    
    margin-top: 24px;
    width: 258px;
    border: none;
    background-color: gainsboro;
    border-radius: 20px;
    padding: 15px 20px;
    display: inline-block;
    font-size: 15px;
}

.section7 .sec7_slider {
    position: relative;
    margin: 50px auto;

    width: 100%;
    height: 475px;
}
.section7 .sec7_slider .slider_img {
    position: absolute;
    margin: 0 auto;

    height: 660px;
    width: 450px;

    background-color: white;
}
.section7 .sec7_slider .sec7_sliderLeft {
    position: relative;

    top: 150px;
    font-size: 20px;
}

.section7 .sec7_slider .sec7_sliderRight {
    position: relative;

    top: 150px;
    font-size: 20px;

    float: right;
}