/* COMMON */
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    background: #F6F5F0;
}

.material-icons {
    color: #f5f6f0;
    font-size: 36px;
    cursor: pointer;
}

/* HEADER */
header {
    background: #000;
    height: 60px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    padding: 0 15px;
    /* 헤더 양끝에 15px만큼 떨어진 영역에 헤더의 여러 오소가 배치되도록 pading을 준다 */
}

header>.material-icons {
    position: absolute;
}

header>.material-icons#btn--open {
    display: block;
    /* material-icons의 부모요소가 헤더입니다>. */
}

header>.material-icons#btn--close {
    display: none;
}

/* NAV */
nav {
    position: absolute;
    top: 60px;
    width: 300px;
    height: calc(100vh - 60px);
    background: #000;
    transform: translateX(-100%);
    transition: .4s;
}