/* 5.페이지 상단에 고정되어 있는 헤더
*  HEADER */
header
{
    margin: 0 auto;
    padding: 0 auto;
    font-size: 14px;
    height: 200px;
    width: 100%;
    justify-content: end;
    display: flex;
    position: fixed;
    z-index: 5;
}

header>.wrapper {
    display: flex;
    flex-direction: column;
}

body
{
    background: #f5f6f0;
}
/* 
.menu {
    background-color: white;
    height: 70px;
    position:absolute;
}

.menu ul {
    margin: 0;
    padding: 0;
    line-height: 70px;
    height: 70px;
} */
