/* 5.페이지 상단에 고정되어 있는 헤더
*  HEADER */
header
{
    margin: 0 auto;
    padding: 0 auto;
    font-size: 14px;
    height: 200px;
    width: 100%;
    justify-content: end;
    display: flex;
    position: fixed;
    z-index: 5;
}

header>.wrapper {
    display: flex;
    flex-direction: column;
}

body
{
    background: #f5f6f0;
}
/*7. 메뉴바 구성*/
.nav
.nav a
.nav ul
.nav li
.nav div {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: burlywood;
}

.nav {
    display: inline-block;
    position: relative;
    cursor: default;
    z-index: 50;
}

.nav>li{
    display: block;
    float: left;
}

.nav>li>a{
    position: relative;
    display: block;
    z-index: 51;
    height: 54px;
    padding: 0 20px;
    line-height: 54px;

    background-color: antiquewhite;
    border-left: 1px solid aquamarine;
    border-right: 1px solid darkkhaki;
}

.nav > li:first-child > a {
    border-radius: 3px 0 0 3px;
    border-left: none;
}
