/* COMMON */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background: white;
}

.material-icons {
    color: black;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
}

/* HEADER */
.wrapper {
    width: 100%;
    height: 81px;

}

.nav-bar {
    width: 100%;
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    float: right;
    justify-content: space-between;
    position: relative;
    background-color: white;
}

.nav-logo {
    width: 110px;
    cursor: pointer;
    float: left;
    padding-left: 133px;
    position: relative;
}

.nav-bar ul {
    padding-right: 133px;
}
.nav-bar ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

ul .btn-link {
    background: #fede22;
    border: 15px solid #fede22;
    border-radius: 22px;
}

 .nav-bar ul li:hover > a {
    text-decoration-line: underline;
    height: 0px;
    padding-bottom: 32px;
    border-bottom: 2px solid gray;
 }

 .nav-bar ul li:hover .mega-menu {
     opacity: 1;
     margin-top: 12.5px;
     border-bottom:black;
     display: block;
     z-index: index 6;
 }

 .mega-menu {
     position: absolute;
     width: 100%;
     top: 100%;
     left: 0;
     right: 0;
     
    padding-right: 133px;
     /* margin: 0 auto; */
     align-items: stretch;
     justify-items: over;
     background-color: white;
     /* display: block; */
     opacity: 0;
     transition: all ease 0.5s;
     z-index: 5000;
 }

 .mega-menu .mega-column {
     float: left;
     width: 20%;
     /*padding: 20px;*/
     padding: 60px 0 36px;
     text-align: center;
 }

 .mega-menu .mega-column h4 {
     color: black;
     font-weight: bold;
     font-size: 18px;
     margin: 0px 0px 20px 0px;
 }

 .mega-menu .mega-column p {
    margin: 0px 0px 20px 0px;
 }

 .mega-menu .mega-column p a {
     color: black;
    font-weight: normal;
    line-height: 20px;
    margin: 0 auto;
    font-size: 15px;
 }

/* CONTENT */

/* 카카오뱅크 소개 */
.module_content {
    position: relative;
    background: #fff;
    width: 100%;
    height: 100%;
}

.about {
    position: relative;
    width: 100%;
    height: 884px;
    background-color: white;
}

.about_content {
    width: 1200;
    height: 884px;
    position: relative;
    background-image: url(https://www.kakaobank.com/static/images/web/renewal/main-bg2.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.about_content .about_title {
    margin-top: 160px;
    width: 473px;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.35;
    margin-left: 90px;
    right: 50%;
    float: left;
}

.about_content .about_subtitle {
    margin-top: 20px;
    width: 473px;
    margin-left: 90px;
    line-height: 1.35;
    right: 50%;
}

.about_content > ul {
    margin-left: 85px;
    display: block;
    width: 390;
    height: 60px;
}

.about_content .stores{
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    width: 473px;
    top: 450px;
    right: 50%;
}

.about_content .stores span:hover > a {
    text-decoration-line: underline;
}

.about .store {
    position: inherit;
    display: block;
    align-items: center;
    width: 158px;
    height: 56px;
    border-radius: 6px;
    background-color: white;
    border-radius: 5px;

    font-size: 12px;
    text-decoration: none;
    text-align: center;
    float: left;

    margin-right: 6px;
}

.storeimgGoogle {
    display: inline-block;
    background-image: url(".\images\Applestore.png");
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

.storeimgApple {
    display: inline-block;
    background-image: url(".\images\Playstore.png");
    width: 24px;
    height: 24px;
    margin-left: 5px;
}
/* 간편한 이체 */
.mobile {
    margin: 36px auto;
    width: 1120px;
    height: 750px;
}

.mobile .mobile_left {
    width: 473px;
    height: 678px;
    left: 50%;
    margin-left: 100px;
    float: left;
    background-image: url(https://www.kakaobank.com/static/images/web/renewal/main-withdrawal.png);
    background-size: contain;
    z-index: 1;
    background-repeat: no-repeat;
}

.mobile .mobile_right {
    width: 473px;
    height: 678px;
    float: right;
    left: 50%;
    top: 1100px;
    line-height: 1.35;
    margin-left: 90px;
    background: white;
    position: absolute;
    overflow: hidden;
}

.mobile .mobile_right .mobile_text {
    top: 1300px;
    left: 50%;
    margin-left: 90px;
    display: block;
}

.mobile .mobile_right .mobile_text h3 {
    font-size: 40px;
    font-weight: bold;
    display: block;
}

.mobile .mobile_right .mobile_text p {
    margin-top: 24px;
    font-size: 15px;
    display: block;
}

.mobile .mobile_right .mobile_btn {
    top: 1450px;
    left: 50%;
    margin-left: 90px;
    margin-top: 24px;
    display: block;
    width: 210px;
    height: 48px;
    padding-top: 25px;
    background-color: #f2f2f2;
    border-radius: 6px;
    text-align: center;
    justify-content: center;
}

.mobile .mobile_right .mobile_btn .mobile_text_btn {
    font-size: 15px;
    text-decoration: none;
}

.mobile_text_btn span:hover > a {
    text-decoration-line: underline;
}

/* 합리적인 예금과 적금 */
.deposit {
  width: 1120px;
  height: 750px;  
  background: cornflowerblue;
}

/* 모임통장 */
.meetingBook {
    margin: 36px auto;
    width: 1120px;
    height: 750px;
}

.meetingBook .meetingBook_left {
    width: 459px;
    height: 607px;
    left: 50%;
    margin-left: 100px;
    float: left;
    background-image: url(https://www.kakaobank.com/static/images/web/renewal/main-moim.png);
    background-size: contain;
    z-index: 1;
    background-repeat: no-repeat;
}

.meetingBook .meetingBook_right {
    width: 473px;
    height: 678px;
    float: right;
    left: 50%;
    top: 1820px;
    line-height: 1.35;
    margin-left: 90px;
    background: white;
    position: absolute;
    overflow: hidden;
}

.meetingBook .meetingBook_right .meetingBook_text {
    top: 2020px;
    left: 50%;
    margin-left: 90px;
    display: block;
}

.meetingBook .meetingBook_right .meetingBook_text h3 {
    font-size: 40px;
    font-weight: bold;
    display: block;
}

.meetingBook .meetingBook_right .meetingBook_text p {
    margin-top: 24px;
    font-size: 15px;
    display: block;
}

.meetingBook .meetingBook_right .meetingBook_btn {
    top: 2170px;
    left: 50%;
    margin-left: 90px;
    margin-top: 24px;
    float: left;
    display: block;
    width: 210px;
    height: 48px;
    padding-top: 25px;
    background-color: #f2f2f2;
    border-radius: 6px;
    text-align: center;
    justify-content: center;
}

.meetingBook .meetingBook_right .meetingBook_btn .meetingBook_text_btn {
    font-size: 15px;
    text-decoration: none;
}

.meetingBook_text_btn span:hover > a {
    text-decoration-line: underline;
}

/* 26주 적금 */
.weeksavings {
    margin: 36px auto;
    width: 1120px;
    height: 750px;
}

.weeksavings .weeksavings_right {
    width: 473px;
    height: 678px;
    left: 50%;
    margin-left: 100px;
    float: left;
    background-image: url(https://www.kakaobank.com/static/images/web/renewal/main-26weeks.png);
    background-size: contain;
    z-index: 1;
    background-repeat: no-repeat;
}

.weeksavings .weeksavings_left {
    width: 492px;
    height: 408px;
    float: right;
    left: 50%;
    top: 2540px;
    line-height: 1.35;
    margin-left: 90px;
    background: white;
    position: absolute;
    overflow: hidden;
}

.weeksavings .weeksavings_left .weeksavings_text {
    top: 2740px;
    left: 50%;
    margin-left: 90px;
    display: block;
}

.weeksavings .weeksavings_left .weeksavings_text h3 {
    font-size: 40px;
    font-weight: bold;
    display: block;
}

.weeksavings .weeksavings_left .weeksavings_text p {
    margin-top: 24px;
    font-size: 15px;
    display: block;
}

.weeksavings .weeksavings_left .weeksavings_btn {
    top: 2890px;
    left: 50%;
    margin-left: 90px;
    margin-top: 24px;
    display: block;
    width: 210px;
    height: 48px;
    padding-top: 25px;
    background-color: #f2f2f2;
    border-radius: 6px;
    text-align: center;
    justify-content: center;
}

.weeksavings .weeksavings_left .weeksavings_btn .weeksavings_text_btn {
    font-size: 15px;
    text-decoration: none;
}

.weeksavings_text_btn span:hover > a {
    text-decoration-line: underline;
}


/*해외 계좌 송금*/
.wu {
    margin: 36px auto;
    width: 1120px;
    height: 750px;
}

.wu .wu_left {
    width: 408px;
    height: 715px;
    left: 50%;
    margin-left: 80px;
    float: left;
    background-image: url(https://www.kakaobank.com/static/images/web/renewal/main-foreignRemittance.png);
    background-size: contain;
    z-index: 1;
    background-repeat: no-repeat;
}

.wu .wu_right {
    width: 473px;
    height: 678px;
    float: right;
    left: 50%;
    top: 3440px;
    line-height: 1.35;
    margin-left: 90px;
    background: white;
    position: absolute;
    overflow: hidden;
}

.wu .wu_right .wu_text {
    top: 3840px;
    left: 50%;
    margin-left: 90px;
    display: block;
}

.wu .wu_right .wu_text h3 {
    font-size: 40px;
    font-weight: bold;
    display: block;
}

.wu .wu_right .wu_text p {
    margin-top: 24px;
    font-size: 15px;
    display: block;
}

.wu .wu_right .wu_btn {
    top: 4140px;
    left: 50%;
    margin-left: 90px;
    margin-top: 24px;
    display: block;
    width: 210px;
    height: 48px;
    padding-top: 25px;
    background-color: #f2f2f2;
    border-radius: 6px;
    text-align: center;
    justify-content: center;
}

.wu .wu_right .wu_btn .wu_text_btn {
    font-size: 15px;
    text-decoration: none;
}

.wu_text_btn span:hover > a {
    text-decoration-line: underline;
}

/*Footer*/
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;

    padding: 20px 0;
    text-align: center;
    color: black;
    background: blue;

    z-index: 0;
}